*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../images/banner/banner2.png);
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    text-align: right;
    position: absolute;
    justify-content: flex-start;
    top: 26%;
    right: 20%;
    width: 525px;
}
.banner-content h1{
    font-size: 65px;
    font-weight: 700px;
    padding-bottom: 24px;
    color: #151414;
}
.banner-content p{
    line-height: 26px;
    padding-bottom: 32px;
    color: #444343;
}
.btn-primary{
    font-size: 20px;
    padding: 20px 30px;
    font-weight: 600;
    background-color: orangered;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
}

/* my failure section start */

.person-image{
    margin-left: 206px;
    margin-right: 90px;
    margin-top: 150px;
}
.my-failures{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.person-content{
    width: 430px;
    margin-left: 90px;
    margin-top: 200px;
}
.person-content h2{
    font-size: 40px;
    font-weight: 700px;
    width: 288px;
    line-height: 50px;
    padding-bottom: 24px;
    color: #151414;
}
.person-content p{
    line-height: 28px;
    padding-bottom: 18px;
    color: #444343;
}
.person-content ul li i{
    color: #444343;
}
.person-content ul li{
    line-height: 30px;
}
.person-content ul{
    list-style: none;
}

/* my plans section start */

.my-plan{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    color: #151414;
}
.plan-title{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.box{
    text-align: center;
}
.box h3{
    padding: 20px;
}
.box p{
    font-size: 20px;
    font-weight: 500px;
    color: #737272;
}

/* mindset section start */

.watch{
    background-image: url(../images/watch.png),
    linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-position: center,center;
    background-repeat: no-repeat,no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 300px;
    position: relative;
    width: 72%;
    margin: 125px 230px;
    border-radius: 8px;
}
.watch-content{
    position: absolute;
    top: 35px;
    left: 50px;
}
.watch-content h3{
    font-weight: 700px;
    font-size: 40px;
    color: #FFFFFF;
    width: 449px;
    padding-bottom: 24px;
}

/* footer section start */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 130px;
    background: #151414;
    color: #FFFFFF;
    min-height: 30vh;
    padding: 100px 0;
}
.footer-content-left{
    width: 485px;
}
.footer-content-left h2{
    font-weight: 700px;
    font-size: 45px;
    padding-bottom: 16px;
}
.footer-content-left p{
    line-height: 26px;
    padding-bottom: 24px;
}
.footer-content-left ul{
    list-style: none;
}
.footer-content-left ul li{
    padding-bottom: 16px;
}
.social-icon{
    padding-top: 8px;
}
.social-icon i{
    font-size: 30px;
    margin-left: 17px;
}
.footer-content-right{
    width: 600px;
   
}
.footer-content-right h3{
    font-weight: 600;
  
    font-size: 25px;
  
    padding-bottom: 31px;
  }
  .footer-content-right input{
    padding: 21px 130px 21px 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
  }
  .footer-content-right input::placeholder{
    color: #F3F3F3;
    text-align: left;
  }
  .footer-content-right .primary-btn{
    background: #005fac;
    color: #FFFFFF;
    margin-top: 20px;
  }