*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../images/banner/banner2.png);
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    text-align: right;
    position: absolute;
    justify-content: flex-start;
    top: 26%;
    right: 20%;
    width: 525px;
}
.banner-content h1{
    font-size: 65px;
    font-weight: 700px;
    padding-bottom: 24px;
    color: #151414;
}
.banner-content p{
    line-height: 26px;
    padding-bottom: 32px;
    color: #444343;
}
.btn-primary{
    font-size: 20px;
    padding: 20px 30px;
    font-weight: 600;
    background-color: orangered;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
}

/* my failure section start */

.person-image{
    margin-left: 206px;
    margin-right: 90px;
    margin-top: 150px;
}
.my-failures{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.person-content{
    width: 430px;
    margin-left: 90px;
    margin-top: 200px;
}
.person-content h2{
    font-size: 40px;
    font-weight: 700px;
    width: 288px;
    line-height: 50px;
    padding-bottom: 24px;
    color: #151414;
}
.person-content p{
    line-height: 28px;
    padding-bottom: 18px;
    color: #444343;
}
.person-content ul li i{
    color: #444343;
}
.person-content ul li{
    line-height: 30px;
}
.person-content ul{
    list-style: none;
}
